; configuration file for this machine (unique to this machine, FALSEt this model)

[Title]
Title = 干燥设备控制系统 - 上料

[MachineData]
Language =CHS
CurrentPackage=DEMO
ProductFormula = 1

[Run]
NoHardwareRun = NO
AlarmStopMC = YES

[vision]
LightBright=27
AngleTolerance=10000


