; file must be SAVED AS unicode file format, otherwise Name will has random code
; 0 = message, 1 = question, 2 = warning, 3 = error/alarm


[M0010]
Name = #0# 搜索原点失败：#1#！
Dispose = 请停机手动搜索原点
Type = 3
[M0011]
Name = #0# 进行点位移动到[#1#] #2#失败：#3#！
Dispose = 请停机检查原因
Type = 3
[M0012]
Name = #0# 进行绝对位置移动到[#1#]失败：#2#！
Dispose = 请停机检查原因
Type = 3
[M0013]
Name = #0# 进行相对位置移动到[#1#] 失败：#2#！
Dispose = 请停机检查原因
Type = 3
[M0015]
Name = #0# 电机没有搜索原点！
Dispose = 请首先搜索原点
Type = 3
[M0016]
Name = #0# 电机使能失败：#1#！
Dispose = 请停机检查原因
Type = 3
[M0017]
Name = #0# 获取当前位置失败：#1#！
Dispose = 请停机检查原因
Type = 3
[M0018]
Name = #0# 点位被改变！停机前在 #1# 位置，当前在点位值 #2# 位置
Dispose = 请移动到停机前位置后再复位启动
Type = 3
[M0019]
Name = #0# 直线插补移动失败！
Type = 3
[M0020]
Name = #0# 圆弧插补移动失败！
Type = 3
[M0021]
Name = #0# 轴停止失败！
Type = 3


[M0030]
Name = #0# 输出点ON操作失败！
Type = 3
[M0031]
Name = #0# 输出点OFF操作失败！
Type = 3
[M0033]
Name = #0# 输出点状态被改变！
Type = 3


[M0040]
Name = #0# 传感器状态不正确，应该是ON！
Dispose = 请停机检查感应器非ON的原因
Type = 3
[M0041]
Name = #0# 传感器状态不正确，应该是OFF！
Dispose = 请停机检查感应器非OFF的原因
Type = 3
[M0042]
Name = 等待传感器 #0# 状态ON超时！
Dispose = 请停机检查感应器非ON的原因
Type = 3
[M0043]
Name = 等待传感器 #0# 状态OFF超时！
Dispose = 请停机检查感应器非OFF的原因
Type = 3


[M1001]
Name = 安全门正门被打开，上位机设备停止运行！
Dispose = 请关闭安全门后再操作！
Type = 3
[M1002]
Name = 安全门侧门被打开，上位机设备停止运行！
Dispose = 请关闭安全门后再操作！
Type = 3
[M1003]
Name = 安全门3被打开，上位机设备停止运行！
Dispose = 请关闭安全门后再操作！
Type = 3
[M1004]
Name = 安全门4被打开，上位机设备停止运行！
Dispose = 请关闭安全门后再操作！
Type = 3
[M1005]
Name = 安全门5被打开，上位机设备停止运行！
Dispose = 请关闭安全门后再操作！
Type = 3


