[Modules]

;此设备ID及此设备的线体ID
MachineID = 1
LineID = 1

;在上料一侧的炉子数
HalfDryingOvens = 6



;调度
Module0= RobotTransfer

;调度-干燥炉
Module1= DryingOven1
Module2= DryingOven2
Module3 = DryingOven3
Module4= DryingOven4
Module5 = DryingOven5
Module6= DryingOven6
Module7= DryingOven7
Module8 = DryingOven8
Module9 = DryingOven9
Module10 = DryingOven10
Module11 = DryingOven11
Module12 = DryingOven12
Module13 = DryingOven13
Module14 = DryingOven14


[System]
Name = System

;设备一个服务器、多个客户端
machineServerIP = 192.168.1.210
machineServerPort = 5000
machineClientIP0 = 192.168.1.81
machineClientPort0 = 5001
machineClientIP1 = 192.168.1.82
machineClientPort1 = 5002

;输入
IStartButton0 = X0002
IStopButton0 = X0003
IResetButton0 = X0004
IEStopTranButton0=X0008
IEStopOnloadButton0=X0006
IEStopOffloadButton0=X0007
IEStopDoor1Button0= X0009
IEStopdoor2Button0= X0010
ISafeDoorState1 = X0013
ISafeDoorState2 = X0014


;输出
OStartLed0 = Y0002
OStopLed0 = Y0003
OResetLed0 = Y0004
OLightTowerGreen0 = Y0005
OLightTowerYellow0 = Y0006
OLightTowerRed0 = Y0007
OLightTowerBuzzer0 = Y0008




;-------------------------------------------------调度区
[RobotTransfer]
Name = 调度机器人
Class = RobotTransfer
Enable=False
DryRun=True

;机器人
RobotType = KUKA
RobotID = 1

;IO
IRobotPeLimit = -1
IRobotNeLimit = -1
IPalletKeepFlat0 = X0011
IFingerSideCheck0 =
IPalletKeepFlat1 = X0012
IFingerSideCheck1 = -1
IRobotRunning=

;输出
;ORobotEStop = Y0507
;ORobotOil = Y0508
;干燥炉放满电池夹具的顺序
PlaceDryOvenOrder = 0,3,1,4,2,5,7,6,8,10,9,11,12,13,14
IPalletKeepFlat0=
IPalletKeepFlat1=
ORobotEStop=
ORobotOil=
IFingerFrontCheck0=
IFingerFrontCheck1=


;-------------------------------------------------调度区-干燥炉
[DryingOven1]
Name = 干燥炉1
Class = DryingOven
DryingOvenID = 0
Enable=False
DryRun=False

[DryingOven2]
Name = 干燥炉2
Class = DryingOven
DryingOvenID = 1
Enable=False
DryRun=False

[DryingOven3]
Name = 干燥炉3
Class = DryingOven
DryingOvenID = 2
Enable=False
DryRun=False

[DryingOven4]
Name = 干燥炉4
Class = DryingOven
DryingOvenID = 3
Enable=False
DryRun=False

[DryingOven5]
Name = 干燥炉5
Class = DryingOven
DryingOvenID = 4
Enable=False
DryRun=False

[DryingOven6]
Name = 干燥炉6
Class = DryingOven
DryingOvenID = 5
Enable=False
DryRun=False

[DryingOven7]
Name = 干燥炉7
Class = DryingOven
DryingOvenID = 6
Enable=False
DryRun=False

[DryingOven8]
Name = 干燥炉8
Class = DryingOven
DryingOvenID = 7
Enable=False
DryRun=False

[DryingOven9]
Name = 干燥炉9
Class = DryingOven
DryingOvenID = 8
Enable=False
DryRun=False

[DryingOven10]
Name = 干燥炉10
Class = DryingOven
DryingOvenID = 9
Enable=False
DryRun=True

[DryingOven11]
Name = 干燥炉11
Class = DryingOven
DryingOvenID = 10
Enable=False
DryRun=True

[DryingOven12]
Name = 干燥炉12
Class = DryingOven
DryingOvenID = 11
Enable=False
DryRun=False

[DryingOven13]
Name = 干燥炉13
Class = DryingOven
DryingOvenID = 12
Enable=False
DryRun=False

[DryingOven14]
Name = 干燥炉14
Class = DryingOven
DryingOvenID = 13
Enable=False
DryRun=False

