[Modules]

;此设备ID及此设备的线体ID
MachineID = 1
LineID = 1

;在上料一侧的炉子数
HalfDryingOvens = 6

;下料缓存线个数
OffloadBuffers=3

;上料
Module0 = OnloadScan
Module1 = OnloadLine
Module2 = OnloadRobot
Module3 = OnloadFake
Module4 = OnloadNG
Module5 = OnloadDetect
Module6 = PalletBuffer
Module7 = ManualOperate

;调度
Module8= RobotTransfer

;调度-干燥炉
Module9 = DryingOven1
Module10 = DryingOven2
Module11 = DryingOven3
Module12 = DryingOven4
Module13 = DryingOven5
Module14 = DryingOven6
Module15 = DryingOven7
Module16 = DryingOven8
Module17 = DryingOven9
Module18 = DryingOven10
Module19 = DryingOven11
Module20 = DryingOven12
Module21 = DryingOven13
Module22 = DryingOven14

;下料
Module23 = OffloadBattery
Module24 = CoolingSystem
Module25 = CoolingOffload
Module26 = OffloadLine
Module27 = OffloadBuffer1
Module28 = OffloadBuffer2
Module29 = OffloadBuffer3
Module30 = OffloadOut

[System]
Name = System

;设备一个服务器、多个客户端
machineServerIP = 192.168.1.210
machineServerPort = 5000
machineClientIP0 = 192.168.1.81
machineClientPort0 = 5001
machineClientIP1 = 192.168.1.82
machineClientPort1 = 5002

;输入
IStartButton0 = X0002
IStopButton0 = X0003
IResetButton0 = X0004
IEStopTranButton0=X0008
IEStopOnloadButton0=X0006
IEStopOffloadButton0=X0007
IEStopDoor1Button0= X0009
IEStopdoor2Button0= X0010
ISafeDoorState1 = X0013
ISafeDoorState2 = X0014


;输出
OStartLed0 = Y0002
OStopLed0 = Y0003
OResetLed0 = Y0004
OLightTowerGreen0 = Y0005
OLightTowerYellow0 = Y0006
OLightTowerRed0 = Y0007
OLightTowerBuzzer0 = Y0008


;-------------------------------------------------上料区
[OnloadRobot]
Name = 上料机器人
Class = OnloadRobot
Enable=True
DryRun=False

;关联模组
PickBatRun = OnloadLine
PickFakeRun = OnloadFake
PlaceNGRun = OnloadNG
PlaceFakeRun = OnloadDetect


;机器人
RobotType = KUKA
RobotID = 0
IPalletKeepFlatLeft0=
IPalletKeepFlatRight0=
IPalletInposCheck0=
IPalletHasCheck0=
IPalletKeepFlatLeft1=
IPalletKeepFlatRight1=
IPalletInposCheck1=
IPalletHasCheck1=
IPalletKeepFlatLeft2=
IPalletKeepFlatRight2=
IPalletInposCheck2=
IPalletHasCheck2=
IFingerOpen0=
IFingerClose0=
IFingerCheck0=
IFingerOpen1=
IFingerClose1=
IFingerCheck1=
IFingerOpen2=
IFingerClose2=
IFingerCheck2=
IFingerOpen3=
IFingerClose3=
IFingerCheck3=
IFingerDelay=
IIntervalCylPush=
IIntervalCylPull=
IBufferCheck0=
IBufferCheck1=
IBufferCheck2=
IBufferCheck3=
IRobotRunning=
OPalletAlarm0=
OPalletAlarm1=
OPalletAlarm2=
OFingerOpen0=
OFingerClose0=
OFingerOpen1=
OFingerClose1=
OFingerOpen2=
OFingerClose2=
OFingerOpen3=
OFingerClose3=
ORobotEStop=
OIntervalCylPush=
OIntervalCylPull=
MotorU=

;输入



[OnloadScan]
Name = 来料扫码
Class = OnloadScan
Enable=True
DryRun=False

;关联模组
RecvBatRun = OnloadRecv
IRecvPosEnter=
IRecvPosInpos=
IPositionPush=
IPositionPull=
IResponseSend=
OPositionPush=
ORecvPosMotor=
ORequireSend=
ORequireSendEnd=


[OnloadLine]
Name = 取料线
Class = OnloadLine
Enable=True
DryRun=False

;关联模组
RecvBatRun = OnloadScan
IRecvPosEnter=
IRecvPosInpos0=
IRecvPosInpos1=
IRecvPosInpos2=
IRecvPosInpos3=
ORecvPosMotor=



[OnloadFake]
Name = 上假电池
Class = OnloadFake
Enable=True
DryRun=False
IPickPosInpos0=
IPickPosInpos1=
IPickPosInpos2=
IPickPosInpos3=
IPickPosInpos4=
IPickPosEnter=
IPlacePosInpos0=
IPlacePosInpos1=
IPlacePosInpos2=
IPlacePosInpos3=
IPlacePosInpos4=
IBufferPosSafe=
IBufferPosLeave=
IManualButton=
OManualButtonLED=
OFakeLineAlarm=
OFakePickMotor=
OFakeBufferMotor=


[OnloadNG]
Name = 上料NG输出
Class = OnloadNG
Enable=True
DryRun=False
IPlacePosInpos0=
IPlacePosInpos1=
IPlacePosInpos2=
IPlacePosInpos3=
IPlacePosSafe=
IBufferPosInpos=
IBufferPosOut=
IManualButton=
OManualButtonLED=
ONGLineAlarm=
ONGLineMotor=
ONGBufferMotor=





[OnloadDetect]
Name = 测试假电池
Class = OnloadDetect
Enable=True
DryRun=False
IPlacePosSafe=
IPlacePosOut=
IBufferPosInpos=
IBufferPosOut=
IManualButton=
OManualButtonLED=
OFakeLineAlarm=
OFrontMotor=
OAfterMotor=


[PalletBuffer]
Name = 夹具缓存架
Class = PalletBuffer
Enable=False
DryRun=False
IPalletKeepFlatLeft0=
IPalletKeepFlatRight0=
IPalletHasCheck0=
IPalletInposCheck0=
IPalletKeepFlatLeft1=
IPalletKeepFlatRight1=
IPalletHasCheck1=
IPalletInposCheck1=
IPalletKeepFlatLeft2=
IPalletKeepFlatRight2=
IPalletHasCheck2=
IPalletInposCheck2=
IPalletKeepFlatLeft3=
IPalletKeepFlatRight3=
IPalletHasCheck3=
IPalletInposCheck3=



[ManualOperate]
Name = 人工操作台
Class = ManualOperate
Enable=False
DryRun=False
IPalletKeepFlat0=
IPalletKeepFlat1=
IPalletHasCheck=
IOnloadButton=
IOffloadButton=
OOnloadButtonLed=
OOffloadButtonLed=
OManualOperateAlarm=


;-------------------------------------------------调度区
[RobotTransfer]
Name = 调度机器人
Class = RobotTransfer
Enable=True
DryRun=False

;机器人
RobotType = KUKA
RobotID = 1

;IO
IRobotPeLimit = -1
IRobotNeLimit = -1
IPalletKeepFlat0 = X0016
IFingerSideCheck0 =
IPalletKeepFlat1 = X0017
IFingerSideCheck1 = -1
IRobotRunning=

;输出
;ORobotEStop = Y0507
;ORobotOil = Y0508
;干燥炉放满电池夹具的顺序
PlaceDryOvenOrder = 0,3,1,4,2,5,7,6,8,10,9,11,12,13,14
IPalletKeepFlat0=
IPalletKeepFlat1=
ORobotEStop=
ORobotOil=
IFingerFrontCheck0=
IFingerFrontCheck1=


;-------------------------------------------------调度区-干燥炉
[DryingOven1]
Name = 干燥炉1
Class = DryingOven
DryingOvenID = 0
Enable=True
DryRun=False

[DryingOven2]
Name = 干燥炉2
Class = DryingOven
DryingOvenID = 1
Enable=True
DryRun=False

[DryingOven3]
Name = 干燥炉3
Class = DryingOven
DryingOvenID = 2
Enable=False
DryRun=False

[DryingOven4]
Name = 干燥炉4
Class = DryingOven
DryingOvenID = 3
Enable=False
DryRun=False

[DryingOven5]
Name = 干燥炉5
Class = DryingOven
DryingOvenID = 4
Enable=False
DryRun=False

[DryingOven6]
Name = 干燥炉6
Class = DryingOven
DryingOvenID = 5
Enable=True
DryRun=False

[DryingOven7]
Name = 干燥炉7
Class = DryingOven
DryingOvenID = 6
Enable=False
DryRun=False

[DryingOven8]
Name = 干燥炉8
Class = DryingOven
DryingOvenID = 7
Enable=False
DryRun=False

[DryingOven9]
Name = 干燥炉9
Class = DryingOven
DryingOvenID = 8
Enable=False
DryRun=False

[DryingOven10]
Name = 干燥炉10
Class = DryingOven
DryingOvenID = 9
Enable=False
DryRun=True

[DryingOven11]
Name = 干燥炉11
Class = DryingOven
DryingOvenID = 10
Enable=False
DryRun=True

[DryingOven12]
Name = 干燥炉12
Class = DryingOven
DryingOvenID = 11
Enable=False
DryRun=False

[DryingOven13]
Name = 干燥炉13
Class = DryingOven
DryingOvenID = 12
Enable=False
DryRun=False

[DryingOven14]
Name = 干燥炉14
Class = DryingOven
DryingOvenID = 13
Enable=False
DryRun=False

;-------------------------------------------------下料区
[OffloadBattery]
Name = 电池下料
Class = OffloadBattery
Enable=True
DryRun=False
IFingerOpen0=
IFingerClose0=
IFingerCheck0=
IBufferCheck0=
IFingerOpen1=
IFingerClose1=
IFingerCheck1=
IBufferCheck1=
IFingerOpen2=
IFingerClose2=
IFingerCheck2=
IBufferCheck2=
IFingerOpen3=
IFingerClose3=
IFingerCheck3=
IBufferCheck3=
IPalKeepFlatLeft0=
IPalKeepFlatRight0=
IPalHasCheck0=
IPalInposCheck0=
IPalKeepFlatLeft1=
IPalKeepFlatRight1=
IPalHasCheck1=
IPalInposCheck1=
IFingerDelay=
IRotatePush=
IRotatePull=
IIntervalCylPush=
IIntervalCylPull=
OPalletAlarm0=
OPalletAlarm1=
OFingerOpen0=
OFingerClose0=
OFingerOpen1=
OFingerClose1=
OFingerOpen2=
OFingerClose2=
OFingerOpen3=
OFingerClose3=
ORotatePush=
ORotatePull=
OIntervalCylPush=
OIntervalCylPull=
MotorX=
MotorY=
MotorZ=

;关联模组
;OffloadLine= OffloadLine
;OffloadNG= OffloadNG
;OffloadDetect= OffloadDetect



[CoolingSystem]
Name = 冷却系统
Class = CoolingSystem
Enable=False
DryRun=False


;电机
MotorR= M3
;OMotorMove = Y1046
IFirstColSafe=
ILastColInpos=
IMotorRInpos=
IMotorRDelay=
OMororRPowerON=
OMororRForwardMove=
OMororRBackwardMove=
OAirBlower0=
OAirBlower1=
OMotorMove=

[CoolingOffload]
Name = 冷却下料
Class = CoolingOffload
Enable=False
DryRun=False
IFingerOpen0=
IFingerClose0=
IFingerCheck0=
IFingerOpen1=
IFingerClose1=
IFingerCheck1=
IFingerOpen2=
IFingerClose2=
IFingerCheck2=
IFingerOpen3=
IFingerClose3=
IFingerCheck3=
IBufferCheck0=
IBufferCheck1=
IBufferCheck2=
IBufferCheck3=
IFingerDelay=
IRotatePush=
IRotatePull=
OFingerOpen0=
OFingerClose0=
OFingerOpen1=
OFingerClose1=
OFingerOpen2=
OFingerClose2=
OFingerOpen3=
OFingerClose3=
ORotatePush=
ORotatePull=
MotorX=
MotorY=
MotorZ=
MotorU=


[OffloadLine]
Name = 下料物流线
Class = OffloadLine
Enable=False
DryRun=False
IPlaceHasBat0=
IPlaceHasBat1=
IPlaceHasBat2=
IPlaceHasBat3=
IRotateCylPush=
IRotateCylPull=
IPushCylPush=
IPushCylPull=
IPlaceOut=
ORecvPosMotor=
ORotateCylPush=
ORotateCylPull=
OPushCylPush=
OPushCylPull=


[OffloadBuffer1]
Name = 下料缓存线1
Class = OffloadBuffer
Enable=False
DryRun=False

;上一模组
RecvModule=OffloadLine
IRecvPosEnter=
IRecvPosBuffer=
IRecvPosInpos=
ORecvPosMotor=

[OffloadBuffer2]
Name = 下料缓存线2
Class = OffloadBuffer
Enable=False
DryRun=False

;上一模组
RecvModule=OffloadBuffer1
IRecvPosEnter=
IRecvPosBuffer=
IRecvPosInpos=
ORecvPosMotor=


[OffloadBuffer3]
Name = 下料缓存线3
Class = OffloadBuffer
Enable=False
DryRun=False

;上一模组
RecvModule=OffloadBuffer2
IRecvPosEnter=
IRecvPosBuffer=
IRecvPosInpos=
ORecvPosMotor=


[OffloadOut]
Name = 下料线出
Class = OffloadOut
Enable=False
DryRun=False

;上一模组
RecvModule=OffloadBuffer3



;-------------------------------------------------下料区




IPlacePosInpos0=
IPlacePosInpos1=
IPlacePosInpos2=
IPlacePosInpos3=
IPlaceOut=
IRotateCylPush=
IRotateCylPull=
IPushCylPush=
IPushCylPull=
IYPushCylPush=
IYPushCylPull=
ORotateCylPush=
ORotateCylPull=
OPushCylPush=
OPushCylPull=
OYPushCylPush=
OYPushCylPull=
ORecvPosMotor=
OSendPosMotor=
OSendRequire=
OSendOutsave=
IRecvResponse=
IRecvFinish=
