[Motor]
Name =(M5) 冷却下料Y轴电机
UseDllName =ControlZMotion

DevID = 0
AxisNo =5
CardIndex=0

;脉冲当量
PulsePerUnit = 838957.2945
SingleMaxMoveDist = 1000

;回零模式：参照电机品牌回零参数，汇川17，松下14，LS品牌1
HomeMode = 17
;移动模式，当前未使用
;MoveType =0
;0总线模式，1脉冲模式；默认0
DrivingMode = 0
;YES控制器回零，NO驱动器回零；默认NO
IsControllerHome = NO

[SensorLogic]
ALM=1
INP=0
EL=0
ORG=0
RDY=0
SON=0


[TimeOut]
Home=10000
Move=10000

[Speed]
ResetVelocity =30.000000
ResetAccTime =0.200000
ResetDecTime =0.500000

DefaultVelocity =500.000000
DefaultAccTime =0.300000
DefaultDecTime =0.300000

MediumVelocity =100.000000
MediumAccTime =0.300000
MediumDecTime =0.300000

FastVelocity =20.000000
FastAccTime =0.300000
FastDecTime =0.300000
[AddrDef]
Home=
MoveAbs=
MoveRel=
MoveJogPlus=
MoveJogMinus=
Stop=
SetPos=
Reset=
SetBrake=
SetSvon=
MoveTorquePos=
MoveTorqueNeg=
Velocity=
Acc=
Dec=
AbsPosValue=
RelDistValue=
SetPosValue=
PosTorqueValue=
NegTorqueValue=
PosLimit=
NegLimit=
OrgState=
RdyState=
AlmState=
SvoStete=
OrgIsFound=
MotorStatus=
CurPos=
CurSpeed=
CurTorque=
